$primary-color: #e2e3e9;

@mixin shadow {
    box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000,0.4);
}

@mixin shadow-inset {
    box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(#000, 0.4);
}

@mixin text-shadow {
    text-shadow: -9px -9px 9px #fff, 9px 9px 9px rgba(#000,0.4);
}

*, *::before, *::after {
    box-sizing: border-box; 
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    color: #000;

    .game-title {
        display: grid;
        justify-content: center;
        align-content: center;        
        span {
            @include shadow();
            // @include text-shadow();
            text-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000,0.4);
            border-radius: 10px;
            text-align: center;
            width: 200px;
            margin-top: .7rem;
            padding: 10px;
        }
    }


    .container {
        @include shadow;
        width: 83vw;
        height: 83vh;
        margin: 1rem 100px;
        padding: 10px;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        background-color: $primary-color;
        border-radius: 30px;
        font-size: 50px;
        .cell {
            @include shadow;
            // @include text-shadow;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: var(--cell-size);
            height: var(--cell-size);
            // background-color: #e2e3e9;
            // border: 1px solid #000;
            text-align: center;
            color: #000;
        }
        .x::before,
        .x::after {
            content: '';
            position: absolute;
            width: calc(var(--mark-size) * .15);
            height: calc(var(--mark-size) * .8);
            background-color: #000;
        }
        .x::before {
            transform: rotate(45deg);
        }
        .x::after {
            transform: rotate(-45deg);
        }
        .circle::before,
        .circle::after {
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        .circle::before {
            width: calc(var(--mark-size) * .8);
            height: calc(var(--mark-size) * .8);
            background-color: #000;
        }
        .circle::after {
            width: calc(var(--mark-size) * .5);
            height: calc(var(--mark-size) * .5);
            background-color: #fff;
        }
    }

}