$primary-color: #e9e9e9;

@mixin shadow {
    box-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
}

@mixin shadow-inset {
    box-shadow: inset -6px -6px 9px #fff, inset 6px 6px 9px rgba(#000, 0.4);
}

@mixin text-shadow {
    text-shadow: -9px -9px 9px #fff, 9px 9px 9px rgba(#000, 0.4);
}

@mixin inset-text-shadow {
    text-shadow: inset -9px -9px 9px #fff, inset 9px 9px 9px rgba(#000, 0.4);
}

@mixin XOs-shadow {
    box-shadow: 9px 9px 9px rgba(#000, 0.4);
}

@mixin easeOut {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 80px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    background-color: $primary-color;
    color: #000;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    .game-title {
        display: grid;
        justify-content: center;
        align-content: center;

        span {
            @include shadow();
            // @include text-shadow();
            text-shadow: -6px -6px 9px #fff, 6px 6px 9px rgba(#000, 0.4);
            border-radius: 10px;
            text-align: center;
            width: 200px;
            margin-top: .7rem;
            padding: 10px;
            color: #494d4dfb;
            font-family: cursive;
            font-size: .8em;

            b {
                font-size: 1.09rem;
            }
        }
    }


    .container {
        @include shadow;
        width: 70vw;
        height: 65vh;
        margin: 1rem 100px;
        padding: 10px;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        background-color: $primary-color;
        border-radius: 30px;
        font-size: 50px;

        .cell {
            @include shadow;
            // @include text-shadow;
            display: grid;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            position: relative;
            width: var(--cell-size);
            height: var(--cell-size);
            // background-color:  $primary-color;
            // border: 1px solid #000;
            text-align: center;
            color: #000;
            cursor: pointer;

            &.x,
            &.circle {
                cursor: not-allowed;
            }

        }

        & .x::before,
        & .x::after,
        & .circle::before {
            background-color: #000;
        }

        &.x :not(.x):not(.circle):hover::before,
        &.x :not(.x):not(.circle):hover::after,
        &.circle :not(.x):not(.circle):hover::before {
            background-color: rgba(87, 104, 93, 0.199);
        }

        & .x::before,
        & .x::after,
        &.x :not(.x):not(.circle):hover::before,
        &.x :not(.x):not(.circle):hover::after {
            content: '';
            @include XOs-shadow;
            position: absolute;
            width: calc(var(--mark-size) * .15);
            height: calc(var(--mark-size) * .8);
        }

        & .x::before,
        &.x :not(.x):not(.circle):hover::before {
            transform: rotate(45deg);
        }

        & .x::after,
        &.x :not(.x):not(.circle):hover::after {
            transform: rotate(-45deg);
        }


        & .circle::before,
        & .circle::after,
        &.circle :not(.x):not(.circle):hover::before,
        &.circle :not(.x):not(.circle):hover::after {
            content: '';
            @include XOs-shadow;
            position: absolute;
            border-radius: 50%;
        }

        & .circle::before,
        &.circle :not(.x):not(.circle):hover::before {
            width: calc(var(--mark-size) * .8);
            height: calc(var(--mark-size) * .8);
        }

        & .circle::after,
        &.circle :not(.x):not(.circle):hover::after {
            @include shadow-inset;
            width: calc(var(--mark-size) * .5);
            height: calc(var(--mark-size) * .5);
            background-color: $primary-color;
        }
    }

    .winning-message {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .9);
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 5rem;
        flex-direction: column;

        &.show {
            display: flex
        }

        div {
            margin-bottom: 1rem;
            text-shadow: 1px 1px 100px rgba($color: #fff, $alpha: 1);
        }

        button {
            @include shadow-inset;
            font-size: 3rem;
            background-color: $primary-color;
            border: 1px solid black;
            padding: .25em .5em;
            margin-top: 2rem;
            outline: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                box-shadow: 1px 1px 100px rgba($color: #ffffff, $alpha: .3);
                background-color: black;
                color: white;
                border-color: white;
            }
        }
    }


    .site-footer {
        color: #645959;
        margin-top: 1px;
        font-size: 12px;
        line-height: 2px;
        font-family: monospace;


        .github-link {
            @include text-shadow;
            margin-top: 5px;

            &:hover {
                @include easeOut;
                background-color: burlywood;
                transition: all background-color 1s;
            }

            a {
                @include text-shadow;
                color: #3e4050;
                font-family: Trebuchet MS;
                font-size: 1rem;

                &:hover {
                    color: #000000;
                    text-decoration: none;
                }

            }
        }



        .social-icons {
            text-align: right;
            padding-left: 0;
            /* margin-bottom: 0; */
            list-style: none;
            margin-top: 20px;
            transform: translate(-15%, -10%);

            a {
                box-shadow: 8px 8px 20px #2b2d3410,
                    -8px -8px 50px #3b3d4693;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 6px;
                margin-right: 0;
                background-color: #33353d;
                color: #818a91;
                font-size: 16px;
                display: inline-block;
                text-align: center;
                transform: translate(-5%, -5%);
                border-radius: 100%;
                -webkit-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear;

                &:active,
                &:focus,
                &:hover {
                    box-shadow: inset 8px 8px 16px #2b2d34,
                        inset -8px -8px 16px #3b3d46;
                    // color: rgb(119, 104, 104);
                    background-color: #33353d;

                }

                &.facebook:hover {
                    background-color: #3b5998
                }

                &.twitter:hover {
                    background-color: #00aced
                }

                &.linkedin:hover {
                    background-color: #007bb6
                }

                &.dribbble:hover {
                    background-color: #ea4c89
                }

                &.github:hover {
                    background-color: #696c89
                }
            }

            li {
                display: inline-block;
                /* margin-bottom: 0; */
            }
        }

        @media (max-width:991px) {
            & [class^=col-] {
                margin-bottom: 20px;
            }

            & .social-icons {
                transform: translate(-15%, -10%);
            }
        }

        @media (max-width:767px) {

            & {
                padding-bottom: 0;
            }

            & .social-icons {
                transform: translate(0, -10%);
            }

            & .github-link {
                width: 100%;
                line-height: 2;
            }

            & .github-link,
            & .social-icons {
                text-align: center;
                justify-content: center;
                align-content: center;
            }
        }
    }

}